body {
    margin: 0;
    font-family: Nunito Sans;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.button,
.button-calc,
.button-clear,
.tel,
.text,
.table-cell span,
label,
input,
.submit,
.list,
.numb-text,
.request,
div.form-request,
div.form-request input,
.text-chek-one,
.call,
.icon-text,
.fantasies-navigation__item a,
.rec,
.form-questions label,
.form-questions input {
    font-family: 'Nunito Sans';
}

.title,
.main-navigation__item a,
.table-cell h3,
.two-content,
.three-content,
.price,
.circle {
    font-family: 'Yeseva One';
}

.button,
.button-calc,
.button-clear {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.button-clear {
    box-shadow: none;
    background: none;
    border: 1px solid #FFF;
    margin-left: 20px;
}

.logo {
    color: #E3B873;
}

.header,
.footer {
    background-color: black;
}

.header-content,
.footer-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;

}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: #FFF;
}

.header-navigation__item a:hover {
    color: #E3B873;
}

.tel {
    color: #E3B873;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

main {
    height: 7410px;
    position: relative;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('img/hero.jpg');
    background-size: cover;
    height: 707px;
    position: relative;

}

.hero-content {
    padding-top: 194px;
    padding-right: 628px;
    padding-left: 42px;
}

.title {
    margin: 0;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    text-transform: uppercase;
}

.city {
    color: #E3B873;
}

.text {
    color: #FFF;
    padding-right: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.one {
    background: #131313;
    height: 1074px;
}

.one-content {
    margin-top: 0;
}

.main-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 107px;
    padding-left: 626px;
    padding-right: 191px;
}

.main-navigation__item a {
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-navigation__item a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.completed-projects {
    margin-top: 53px;
    height: 482px;

}

.image {
    background-image: url('img/one.jpg');
    background-size: cover;
    width: 679px;
    height: 482px;
    position: relative;
    margin-left: 626px;
    margin-top: 53px;
}

.info {
    margin: -482px 864px 0 134px;
}

.projects {
    color: #E3B873;
    font-size: 27px;
    width: 180px;
    line-height: normal;
}

.text-projects {
    font-size: 14px;
    line-height: 27px;
}

.arrows,
.icon-left,
.image2,
.icon-right,
.image3 {
    display: none;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    border: none;
    display: table-cell;
    padding: 3px 10px;
}

.table-cell h3 {
    color: #E3B873;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 24.948px */
    text-transform: uppercase;
}

.table-cell span {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
}

.icon {
    background-image: url('icon/Group 2.18.svg');
    background-size: cover;
    width: 205px;
    height: 13px;
    position: relative;
    margin-left: 134px;
    margin-top: 125px;

}

.two {
    margin-top: -350px;
}

.two-content {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;

}

.icon-two {
    background-image: url('icon/Group 45.svg');
    background-size: cover;
    width: 110px;
    height: 28px;
    position: relative;
    margin: auto;

}

.img {
    margin-top: 31px;
    filter: brightness(0.2);
}

.icon-three {
    background-image: url('icon/Group 8.svg');
    background-size: cover;
    width: 125px;
    height: 125px;
    position: relative;
    margin: -285px auto 0 auto;
}

.line {
    margin-top: 200px;
    width: 55px;
    border: 1px solid #E3B873;
    border-radius: 30px;
}

.black {
    color: #363636;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0 350px 0 350px;
    text-transform: none;
}

form.form-example {
    display: table;
    margin: 93px auto auto;
}

div.form-example {
    display: table-cell;
}


label,
input {
    display: table-cell;
    margin-bottom: 10px;
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
    text-transform: none;
    margin-right: 58px;

}

label {
    padding-right: 10px;
}

input {
    width: 200px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 1);
}

.submit {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 200px;
    height: 51px;
}

.first-checkbox {
    display: inline-flex;
}

.label-chek {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.text-chek {
    color: #131313;
}



.icon-three {
    background-image: url('icon/Group 8.svg');
    background-size: cover;
    width: 125px;
    height: 125px;
    position: relative;
    margin: -285px auto 0 auto;
}

.three-content {
    color: #131313;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
    margin-top: 147px;
}

.icon-four {
    background-image: url('icon/Group 2.9.svg');
    background-size: cover;
    width: 114px;
    height: 28px;
    position: relative;
    margin: auto;
}

.types {
    display: flex;
    justify-content: center;
    height: 608px;
    margin: 31px 15px auto;
    text-transform: none;
}

.red,
.over,
.des {
    background-size: cover;
    height: 421px;
    width: 392px;
}

.red {
    background-image: url('img/1.jpg');
}

.over {
    background-image: url('img/2.jpg');
}

.des {
    background-image: url('img/3.jpg');
}

.list-pack {
    background-color: #FFF;
    width: 330px;
    height: 286px;
    margin-top: 294px;
}

.pack {
    text-align: start;
    margin-left: 25px;
}

.list {
    color: #959595;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
    /* 26.598px */
    text-align: start;
}

.price {
    background: #E3B873;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    width: 228px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 24.948px */
    text-transform: uppercase;

}

.condition {
    display: flex;
    align-items: center;
    margin-top: 124px;
}

.town {
    background-image: url('img/four.jpg');
    background-size: cover;
    width: 706px;
    height: 645px;
}

.list-numb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 117px;
    padding-left: 249px;
    padding-right: 79px;
}

.numb {
    display: flex;
    align-items: center;
    padding-bottom: 95px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 24.948px */
    padding: 15px;
}

.numb-text {
    color: #363636;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    padding-left: 7px;
}


form.form-request {
    margin-top: 59px;
    background: #131313;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    margin-left: 131px;
}

.request {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%;
    /* 25.78px */
    text-transform: none;
    width: 297px;
    margin: 28px auto;
}

div.form-request {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
    padding-bottom: 48px;
}

div.form-request label {
    padding-left: 49px;
    color: rgba(255, 255, 255, 0.50);
}

div.form-request input {
    margin: 7px 0 0 -5px;
    background-color: #131313;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 22.915px */
    width: 408px;
}

.two-checkbox {
    margin-top: -40px;
    margin-left: 47px;
}

.text-chek-one {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 22.915px */
}

.call {
    margin-top: 39px;
    margin-left: 200px;
    width: 213px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
    text-transform: uppercase;
}

.icon-five {
    background-image: url('icon/Group.svg');
    background-size: cover;
    width: 72px;
    height: 72px;
    position: relative;
    margin: 8px auto auto 866px;

}

.icon-text {
    padding-left: 75px;
    width: 344px;
    color: #E3B873;
    text-shadow: 0px 3px 10px 0px rgba(227, 184, 115, 0.15);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%;
    /* 25.78px */
    text-transform: none;
    text-align: left;
}

.four {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.90) 100%), url('img/five.jpg');
    background-size: cover;
    height: 864px;
    position: relative;
    margin-top: 254px;
}

.four-content {
    display: flex;
}

.fantasies {
    color: #E3B873;
    font-size: 27px;
    line-height: 138.6%;
    /* 37.422px */
    padding: 137px 0 0 99px;
}

.fantasies-navigation {
    list-style: none;
    margin: auto;
    padding-top: 47px;
    padding-left: 99px;

}

.fantasies-navigation__item {
    padding-bottom: 15px;
}


.fantasies-navigation__item a {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
    /* 38.192px */
}

.fantasies-navigation__item a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.case-list {
    margin-right: 102px;
}

.case {
    margin-left: 42px;
    margin-bottom: 38px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.sofa {
    margin-top: -113px;
}

.clock {
    margin-top: -42px;
}

.sofa,
.desk {
    margin-right: 102px;
}

.five {
    background-image: url('img/Frame.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
    height: 1107px;
}

.icon-six {
    background-image: url('icon/Group 2.14.svg');
    background-size: cover;
    width: 114px;
    height: 28px;
    position: relative;
    margin: 13px auto 24px;
}

.clients {
    color: #181818;
    text-align: center;
    font-size: 20px;
    line-height: 138.6%;
    /* 27.72px */
    margin-top: 110px;
}

.rec {
    color: #363636;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 29.462px */
    margin: 0 510px 39px;
}

.customers {
    /* margin: 0 54px; */
    height: 428px;
    justify-content: space-evenly;
}

.cust {
    margin: auto;
}

.foto {
    border-radius: 100%;
}

.fio {
    margin: -60px 79px 39px 119px;
}

.client {
    margin: 0 30px 90px 20px;
    line-height: 180%;
    /* 23.4px */
}

.m2 {
    width: 293px;
    margin-top: -27px;
    padding-right: 12px;
}

.icon-seven {
    background-image: url('icon/Group 21.4.svg');
    background-size: cover;
    width: 32px;
    height: 31px;
    position: relative;
    margin: auto;
}

.icon-eight {
    background-image: url('icon/Vector 2.svg');
    background-size: cover;
    width: 2px;
    height: 54px;
    position: relative;
    margin: auto;
}

.icon-nine {
    background-image: url('icon/21.svg');
    background-size: cover;
    width: 32px;
    height: 31px;
    position: relative;
    margin: auto;
}

.six {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%), url('img/image 7.2.jpg');
    height: 953px;
    position: absolute;
    width: -webkit-fill-available;
}

form.questions {
    width: 883px;
    height: 445px;
    margin: -222px auto;
    padding: 34px 181px;
}

.questions {
    text-align: center;
    font-size: 20px;
    line-height: 138.6%;
    /* 27.72px */
    padding: 0 0 45px;
}

.form-questions {
    display: flex;
    justify-content: start;
}

.form-questions label {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
    padding: 0px;
}

.form-questions input {
    background-color: #131313;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 22.915px */
    margin: 20px 58px 29px -95px;
}

.form-questions input#question {
    margin-left: -112px;
    width: 455px;
}

.three-checkbox {
    display: flex;
    justify-content: center;
    margin: 48px auto;
}

.quest {
    font-size: 13px;
    font-style: normal;
    line-height: 204.6%;
    /* 26.598px */
    margin: auto;
}

.addres {
    color: #E3B873;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: 138.6%;
    /* 27.72px */
    margin: 274px 425px 26px;
}

.icon-ten {
    background-image: url('icon/Group 2.svg');
    background-size: cover;
    width: 71px;
    height: 29px;
    position: relative;
    margin: auto;
}

.map {
    display: block;
    margin: 35px auto;
}

.footer-content {
    height: 133px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    .header-navigation,
    .button,
    .main-navigation,
    .image,
    .icon,
    .condition,
    .icon-five,
    .case,
    .fantasies-navigation,
    .five,
    .footer {
        display: none;
    }

    main {
        height: auto;
    }

    .header-content {
        margin: 0 18px 0 18px;
    }

    .tel {
        color: #FFF;
        text-decoration-line: none;
    }

    .hero {
        height: 476px;
    }

    .hero-content {
        padding: 85px 18px 0px;
    }

    .title {
        font-size: 23px;
    }

    .text {
        font-size: 14px;
        line-height: 135.84%;
        /* 19.018px */
    }

    .button-calc,
    .button-clear {
        width: 100%;
        margin: 20px 0;
    }

    .one {
        height: 727px;
    }

    .completed-projects {
        margin: auto;
        height: 727px;
        width: 90%;
    }


    .info {
        margin: auto;
    }

    .projects {
        margin: auto;
        padding-top: 36px;
        text-align: center;
    }

    .text-projects {
        font-size: 11px;
        line-height: 158.48%;
        /* 17.433px */
        text-align: center;
        margin: 22px 32px 36px;
        padding: 0;
    }

    .arrows {
        display: flex;
        align-items: center;
    }

    .icon-left,
    .image2,
    .icon-right {
        display: block;
    }

    .icon-left,
    .icon-right {
        background-size: cover;
        width: 40px;
        height: 38px;
        position: relative;
    }

    .icon-left {
        background-image: url('icon/left.svg');
        left: 10%;
    }

    .icon-right {
        background-image: url('icon/right.svg');
        right: 10%;
    }

    .image2 {
        background-image: url('img/image2.jpg');
        background-size: cover;
        width: 90%;
        height: 241px;
        margin: auto;
    }


    .table {
        width: 90%;
        margin: auto;
    }

    .img {
        width: 90%;
    }

    .icon-three {
        width: 37px;
        height: 37px;
        margin: -110px auto;
    }

    .two {
        background-color: #131313;
        height: 870px;
        margin: auto;
    }


    .two-content h3 {
        margin-top: 0;
    }

    .black {
        font-size: 11px;
        margin: auto;
        color: #FFF;
        width: 90%;
    }

    form.form-example {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 61px auto;
        width: 90%;
    }

    div.form-example {
        margin-bottom: 63px;
    }

    label,
    input,
    .submit,
    .first-checkbox,
    .types,
    .map,
    form.questions,
    .addres {
        width: 90%;
        margin: auto;
    }

    label {
        display: flex;
        color: rgba(255, 255, 255, 0.50);
    }

    input {
        background-color: #131313;
        color: #FFF;
        font-size: 14px;
        line-height: 138.72%;
        /* 19.421px */
    }

    .first-checkbox {
        display: block;
        margin: -215px auto;

    }

    .text-chek {
        color: #FFF;
        padding-left: 10px;
    }

    .three-content {
        margin-top: 83px;
    }

    .types {
        flex-direction: column;
        height: auto;
        margin: 46px auto 59px;
    }

    .four {
        background: linear-gradient(180deg, #ffffff 55%, #131313 5%);
        height: auto;
        margin: auto;
    }

    .four-content {
        display: block;
    }

    .fantasies {
        text-align: center;
        padding: 0 0 24px;
    }

    .image3 {
        display: block;
        background-image: url('img/five.jpg');
        background-size: cover;
        width: 90%;
        height: 380px;
        margin: 0 auto 52px;

    }

    .list-fant {
        display: flex;
        flex-direction: column;
    }

    .six {
        background: #131313;
        margin: auto;
        position: static;
        height: 1120px;
    }

    form.questions {
        margin: 0px auto;
        padding: 0;
        height: auto;
    }

    .questions {
        padding: 0;
    }

    .form-questions {
        flex-direction: column;
    }

    .form-questions label {
        margin: 63px auto 0;
    }

    .form-questions input {
        margin: auto;
    }

    /* .quest{
        margin-bottom: 25px;
    } */

    .form-questions input#question {
        margin-left: 32px;
        width: 90%;
    }

    .addres {
        margin: 50px auto 23px;
    }

    .icon-ten {
        margin-bottom: 25px;
    }

    .map {
        margin: 0 auto 25px;
    }

}